<div class="container-fluid">
  
  <div class="row heading animated slideInDown">
     <div class="col-md-6 offset-md-3 main ">ISSUE - TRACKING</div>
  </div>
  <div class="row row1" >
    <div class="col-sm-6 offset-sm-3">
      <form class="loginForm rounded animated slideInDown">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email"
            [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password">
          <div class="small password" data-toggle="modal" data-target=".bd-example-modal-sm">
            <a>forgot password ?</a>
          </div>
        </div>
        <div class="bottom">
          <button type="submit" class="btn btn-primary login-btn btn-block" (click)='doSignIn()'>Submit</button>
        </div>
       
       
        <div class="signup" [routerLink]="['/signup']">
           SignUp
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header password1">Change password</div>
        <div class="modal-body">
         
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Enter email</label>
              <input type="text" class="form-control" id="recipient-name" name="userEmail" [(ngModel)]="userEmail">
            </div>
            <div class="form-group"  *ngIf="nextClicked">
              <label for="recipient-name" class="col-form-label">Enter code</label>
              <input type="text" class="form-control" id="recipient-name1" name="secureCode" [(ngModel)]="secureCode">
            </div>
            <div class="form-group" *ngIf="nextClicked">
              <label for="recipient-name" class="col-form-label">Enter new password</label>
              <input type="password" class="form-control" id="recipient-name2" name="newPassword" [(ngModel)]="newPassword">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeButtonClicked()">Close</button>
          <button type="button" class="btn btn-primary nextButton" *ngIf="!nextClicked" (click)="forgotPassword()">Next</button>
          <button type="button" class="btn btn-primary doneButton" *ngIf="nextClicked" (click)="changePassword()">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
