:root{
    font-size: 20px;
}
.main{
    font-family: 'EB Garamond', serif;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
   
    color: white;
    background-color: #20a8d8;
}
.navbar-brand{
    font-size: 35px;
}
input{
    background: transparent;
    border: none;
    border-bottom: 1px solid blue;
}
.list{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: white;
    border: 1px solid #c8ced3;
    width:auto;
}
.content{
    margin-top: 1%;
    margin-bottom: 5%;
}
.icon{
    font-size: 25px;
    margin-left: 70%;
    cursor: pointer;
}
.title{
    font-size: 1.5rem;
    font-style: italic;
    
}
.todoList{
    overflow-y: scroll;
    height: 65vh;
}
.eachList{
    width: 100%;
}
.even{
    background-color: #C4D8E2;
}
.odd{
    background-color: #E9EDF6;
}
.container-fluid{
    background-image: url('../../../assets/port2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
background-position:center;
height: 100vh;
}

.fa-bell{
    font-size: 30px;
   
}
.extraclass{
    -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@keyframes glowing {
    0% { background-color: rgb(178, 0, 9); box-shadow: 0 0 3px rgb(178, 0, 0); }
    50% { background-color: rgb(12, 218, 12); box-shadow: 0 0 40px rgb(77, 224, 19); }
    100% { background-color: rgb(211, 105, 6); box-shadow: 0 0 3px rgb(212, 101, 11); }
  }
  .bell{
    margin-right: 2%;
    margin-bottom: 2%;
}
.plus-icon{
    cursor: pointer;
}
.share{
    cursor: pointer;
}


.shareIcon .text{
    visibility: hidden;
}
.shareIcon:hover .text{
    visibility: visible
}
.users{
    margin-top: 1%;

    width: 100%;
}
.shareIt{
    cursor: pointer;
}
.sharedWith{
    width: 100%;
}
.name{
    cursor: pointer;
}
.textNotifications{
    height: 65vh;
    overflow-y: scroll
}
.shareIcon .text{
    visibility: hidden;
    background-color: white;
    color:green;
    position: absolute;
   z-index: 1;
}
.shareIcon:hover .text{
    visibility: visible;
  z-index: 10;
}
.removeFriend:hover{
  background-color: grey;
}
.users .removeFriend{
    margin-left: 70%;
    margin-right: 5%;
}


.shareIt{
       margin-left: 70%;
        margin-right: 5%;
}
.backBtn{
    color: white;
    text-align: center;
    height:50px;
    width:70px;
}
input:focus{
    background-color: white;
}
@media only screen and (max-width:350px){
    .users .removeFriend{
        margin-left: 50%;
        margin-right: 5%;
    }
    .shareIt{
        margin-left: 50%;
         margin-right: 5%;
 }
}