<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="container-fluid contain">
   
  <div class="row animated slideInDown">
      <nav class="navbar navbar-expand-lg navbar-dark main">
            <div class="navbar-brand main1">
                    Welcome
                </div>
          <ul class="navbar-nav nav1 ml-auto">
              
              <li class="nav-item bell" ><i class="fa fa-bell" [class.extraclass]="anyNotification" aria-hidden="true" data-toggle="modal" data-target=".bd-example-modal-lg2" (click)="updateUserNotifications()"></i></li>
    
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item">
                    <div  class="btn2"  data-toggle="modal" data-target=".bd-example-modal-lg1" (click)=updateFriendList() >
                          Friends
                      </div>
      
                  </li>
                  <li class="nav-item">
                      <div class="btn2"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getAllUsers()">
                          Find friends
                      </div>
      
                  </li>
                  <li class="nav-item">
                      <div class="btn2" (click)="logout()">
                          logout
                      </div>
      
                  </li>
              </ul>
          </div>
      </nav>
  </div> 
  <div class="row content animated bounceInUp">
    <div class="col-12 col-sm-6 offset-sm-3 column">
        <div class="quote">Keep your life in sync</div>
      <button class="btn btn-info" (click)="personalLists()">Personal lists</button>
      <button class="btn btn-info" (click)="sharedLists()">Shared lists</button>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
               <h3>Add friends</h3>
               <div *ngIf="allNotifications?.length>0"  class="pending">
                <div *ngFor="let user of allNotifications; let i=index;let odd=odd; let even=even;">
                    <div class="row users " *ngIf="user.toId==userId" [ngClass]="{ odd: odd, even: even }">
                        <div class="col-7">
                             {{user.nameBy}}
                        </div>
                        <div class="col-5">
                            <div  class="btn2x" (click)="acceptFriendRequest(user.id,user.nameBy,user.byId,i)" >confirm</div>
                        </div>
                    </div>
                </div>
           </div>
               <div *ngIf="allUsers?.length>0" class="addFriend">
                    <div *ngFor="let user of allUsers;let i=index;let odd=odd; let even=even;">
                        <div class="row users " [ngClass]="{ odd: odd, even: even }">
                            <div class="col-7">
                                 {{user.name}}
                            </div>
                            <div class="col-5">
                                <div class="btn2x" (click)="addNewFriend($event.target,user.id,user.name,i)" >add</div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
               <h3>Friends</h3>
               <div *ngIf="allFriends?.length>0"  class="pending">
                <div *ngFor="let user of allFriends; let i=index;let odd=odd; let even=even;">
                    <div class="row users " [ngClass]="{ odd: odd, even: even }">
                        <div class="col-6">
                             {{user.friendName}}
                        </div>
                        <div class="col-6">
                            <div  class="btn2x" (click)="deleteFriend(user.friendId)" >delete</div>
                        </div>
                    </div>
                </div>
           </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="textNotifications?.length>0"  class="pending" #scrollMee [scrollTop]="scrollMee.scrollHeight">
                    <div *ngFor="let user of textNotifications; let i=index;let even=even; let odd =odd">
                        <div class="row users " [ngClass]="{ odd: odd, even: even }">
                            <div class="col-12">
                                 {{user.text}}
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="load-more">
                    <div  class="btn2x previousNoti" (click)="loadprevoiusTextNotifications()" ><b>load more</b></div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  </div>
  
